/* General Styling */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header {
    padding: 1rem;
} */

img {
    width: 30px;
    height: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-link {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
}

.nav-link li a {
    text-decoration: none;
    color: #000000;
}

.title {
    margin: 2rem;
    text-align: center;
}

.title p {
    font-size: 0.75rem;
}

.main-content {
    display: flex;
    justify-content: center;
}

.main-content section {
    border: 1px solid black;
}

.projects {
    flex: 1 1 30%;
}

.experience {
    flex: 1 1 40%;
}

.education {
    flex: 1 1 30%;
}

#projects-heading {
    padding: 1rem;
}

.projects ul {
    gap: 1rem;
}

.projects ul li {
    border-bottom: 1px solid black;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.projects ul > :last-child {
    border-bottom: none;
}

.education,
.job-experience,
.open-source-experience {
    padding: 1rem;
}

.top-margin {
    margin-top: 1rem;
}

.projects ul,
.education ul{
    list-style-type: none;
}

.open-source-experience {
    border-top: 1px solid black;
}

.review-articles {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.review-articles article {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
}

.review-articles article p {
    margin-top: 0.5rem
}

.reviews #reviews-heading {
    margin: 1rem;
}

footer {
    background-color: #f1f1f1;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
}

/* Media Queries */

@media (max-width: 500px) {
    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .title {
        font-size: 0.75rem;
    }
    
    .main-content {
        flex-direction: column;
    }

    #reviews-heading {
        text-align: center;
    }
    .review-articles {
        flex-direction: column;
        align-items: center;
    }
}