/* General Styling */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid black;
}

header {
    padding: 1rem;
}

img {
    width: 30px;
    height: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav-link {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
}

.nav-link li a {
    text-decoration: none;
    color: #000000;
}

.title {
    margin: 2rem;
    text-align: center;
}

.title p {
    font-size: 0.75rem;
}

.main-content {
    display: flex;
    justify-content: center;
}

.main-content section {
    border: 1px solid black;    
}

.projects,
.education,
.job-experience,
.open-source-experience {
    padding: 1rem;
}

.projects ul,
.education ul{
    list-style-type: none;
}

.open-source-experience {
    border-top: 1px solid black;
}

.projects ul {
    display: flex;
    flex-direction: column;
}

.projects ul li {
    border: 1px solid black;
}

.review-articles {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.review-articles article {
    border: 1px solid black;
    border-radius: 1rem;
}

.reviews #reviews-heading {
    margin: 1rem;
}

footer {
    background-color: #f1f1f1;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
}